
@{
    ViewData["Title"] = "About Us";
}

<h1>Joe's Used Cars</h1>

<h2>Trust Us, we are the only honest dealership</h2>

<p>
    lorem ipsum would go here to hold place for real text
</p>

<h3>Contact Us</h3>
<p>
    Email us at <a href="mailto:support@joescars.com">support@joescars.com</a>
</p>